<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amadon Store</title>
    <title>Session Word</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'amadon_store/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <h1>Amadon Store!</h1>
    <div class="item">
      <h4>item</h4>
      <p>Dojo Tshirt</p>
      <p>Dojo Sweater</p>
      <p>Dojo Cup</p>
      <p>Algorithm Book</p>
    </div>
    <div class="prices">
      <h4>Price</h4>
      <p>$19.99</p>
      <p>$29.99</p>
      <p>$4.99</p>
      <p>$49.99</p>
    </div>
    <div id="quantity">
      <h4>Quantity  action</h4>
      <form class="" action="/amadon/process" method="post">
        {% csrf_token %}
        <select class="qty" name="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
         <input type='hidden' name='product_id' value='1'/>
        <input type="submit" value="BUY!">
      </form>
      <form class="" action="/amadon/process" method="post">
        {% csrf_token %}
        <select class="qty" name="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
         <input type='hidden' name='product_id' value='2'/>
        <input type="submit" value="BUY!">
      </form>
      <form class="" action="/amadon/process" method="post">
        {% csrf_token %}
        <select class="qty" name="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
         <input type='hidden' name='product_id' value='3'/>
        <input type="submit" value="BUY!">
      </form>
      <form class="" action="/amadon/process" method="post">
        {% csrf_token %}
        <select class="qty" name="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
         <input type='hidden' name='product_id' value='4'/>
        <input type="submit" value="BUY!">
      </form>

    </div>
  </body>
</html>
